:root {
            --primary: #2c3e50;
            --accent: #e74c3c;
            --light: #ecf0f1;
        }

body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            background-color: #f4f4f4;
            color: var(--primary);
            line-height: 1.6;
            max-width: 1000px;
        }

header {
            background: var(--primary);
            color: white;
            padding: .5rem;
            text-align: center;
            border-bottom: 5px solid var(--accent);
            
        }

nav {
            background: #fff;
            padding: 1rem;
            text-align: center;
            position: sticky;
            top: 0;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

nav a {
            margin: 0 15px;
            text-decoration: none;
            color: var(--primary);
            font-weight: bold;
            transition: 0.3s;
        }

nav a:hover {
            color: var(--accent);
        }
        
footer {
            text-align: center;
            padding: .5rem;
            background: var(--primary);
            color: white;
            margin-top: .5rem;
        }
.section img {
            hight: 40%;
            width: 100%;
        }
.section {
            background: white;
            margin-bottom: 1rem;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.05);
            padding: 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
                
.container {
            margin: 2rem auto;
            padding: 10px;
        }
.paragraph {
            text-align: center;
            padding: 1rem;
        }
.memes {
    text-align: center;
    background: var(--primary);
    color: white;
    padding: 1rem;
}
.link img {
    height: 15px;
    width: 15px;
}
.link {
            background: white;
            margin-bottom: 1rem;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.05);
            padding: 1rem;
            text-align: center;
        }
        
.link a {
    background: var(--primary);
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
}
.arrow {
    text-decoration: none;
    margin-right: 15px;
    text-align: right;
    position: sticky;
    bottom: 30px;
}
.arrow img {
    height: 18px;
    width: 18px;
}

.arrow a {
            text-decoration: none;
            color: var(--primary);
            font-weight: bold;
            transition: 0.3s;
        }

.arrow a:hover {
            color: var(--accent);
        }
        
.nav1 {
    border-top: 4px solid #2c3e50;
}
